.cms-container{
	$cmsBackground: rgb(237, 242, 246);
	
	padding: 0px;	
	background: $cmsBackground;
	position: absolute;
    width: 100%;
    height: 100%;
    color: $textColor;

    .row.row-wrapper {
    	height: 100%;

    	.content-wrapper {
    		position: relative;
            height: 100%;

            .content-area {
                padding-top: 64px;
                padding-right: 35px;
                color: $black;
                height: 100%;
                overflow: auto;

                form {
                    ul {
                        list-style: none;

                        li {
                            input[type=radio] {
                                margin-right: 5px;
                            }
                        }

                    }

                    .new-catetory-wrapper {
                        a {
                            display: block;
                            margin-bottom: 10px;
                        }

                        label.title{
                            margin-top: 10px;
                        }
                    }
                }
            }
    	}

    	.header {
    		position: absolute;
    		top: 0px;
    		left: 0px;
    		padding: 11px 0px;
    		background-color: $lightGreen;
    		width: 100%;
            z-index: 100;

    		.log-out{
    			margin-right: 20px;
    			font-size: 26px;
    			cursor: pointer;
    		}
    	}
    }
}