.load-more {
	text-align: center;
	
	.glyphicon-refresh {
		display: none;
	}

	@include keyframes(refresh-rotate) {
	  0%   { transform: rotate(0deg)}
	  100% { transform: rotate(360deg)}
	}

	&.loading {
		.glyphicon-refresh {
			vertical-align: text-top;
    		margin-right: 8px;
			display: inline-block;
			@include animation('refresh-rotate linear .5s infinite');
		}
	}
}