.login-form {
  $maxWidth:320px;

  max-width: $maxWidth;
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: solid 1px #d2d2d2;
}