.menu {
	$menuBackground: rgb(35,41,50);	
	
	background: $menuBackground;
	display: inline-block;
	min-height: 100%;
	padding: 0px;

	.site-title{
		font-family: 'Lobster', cursive;
	    font-size: 30px;
	    padding: 10px 0px 10px 40px;		
	}

	ul {
		margin-left: -40px;
		list-style: none;
		margin-bottom: 0px;

		li {
			a {
				padding: 13px 50px;
				display: block;
				cursor: pointer;
				text-decoration: none !important;
				color: $textColor !important;
				
				&:hover {
					background: $lightGreen;
				}
			}
		}
	}
}