.progress-overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(90, 90, 90, 0.5);
	text-align: center;

	.progress {
		position: absolute;
		top: calc(50% - 10px);
		max-width: 400px;
		min-width: 300px;
		display: inline-block;
	}
}