.uploader {
    .preview {
        margin-top: 10px;
        max-width: 200px;
        max-height: 200px;
        overflow: auto;
        position: relative;
        float: left;

        .crop-wrapper{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0);
            z-index: 60;
            top: 0px;
            left: 0px;

            .crop-area{
                position: absolute;
                width: 120px;
                height: 90px;
                border: dotted 3px #f95959;
                cursor: move;
            }
        }
    }

    canvas {
        float: left;
        margin-top: 10px;
        margin-left: 20px;
    }
}