.video-thumbnail {
  display: inline-block;
  margin-bottom: 20px;
  
  &.default {
  	width: 120px;
  	height: 180px;
  }
  
  &.high {
  	width:480px;
  }
  
  &.medium{
  	width: 320px;
  }

  .title{
  	margin: 5px 0px;
  	
  	a {
  	  text-overflow: ellipsis;
      overflow: hidden;
      white-space: normal;
      word-break: break-word;
      position: relative;
      max-height: 40px;
      @include displayBox();
      @include box-orient(vertical);
      @include line-clamp(2);
  	}
  }

  .title, .time-line{
  	text-align: left;
  }
}