.video-list {
	max-width: 781px;
    margin-left: auto;
    margin-right: auto;
	
    .no-result {
    	text-align: center;
    }

	div[class^="col-"] {
		text-align: center;
		@media (min-width: 992px){
			min-width: 135px;
		}
	}
}