.video-wrapper-container {
	$maxWidth: 640px;
	$maxHeight: 360px;
	text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
	
	.video-wrapper {
		max-width: $maxWidth;
		max-height: $maxHeight;
		display: inline-block;

		iframe {
			max-width: $maxWidth; 
			max-height: $maxHeight;
		}
	}	
}
