@mixin displayBox() {
  display: box;
  display: -webkit-box;
  display: -moz-box;
}

@mixin box-orient($direction: vertical) {
  box-orient: $direction;
  -webkit-box-orient: $direction;
}

@mixin line-clamp($lineNumber) {
  -webkit-line-clamp: $lineNumber;
  line-clamp: $lineNumber;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}