/**
* import all the bootstrap css
**/
@import url("../bower_componnents/bootstrap/dist/css/bootstrap-theme.min.css");
@import url("../bower_componnents/bootstrap/dist/css/bootstrap.min.css");
.search-box {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.video-thumbnail {
  display: inline-block;
  margin-bottom: 20px; }
  .video-thumbnail.default {
    width: 120px;
    height: 180px; }
  .video-thumbnail.high {
    width: 480px; }
  .video-thumbnail.medium {
    width: 320px; }
  .video-thumbnail .title {
    margin: 5px 0px; }
    .video-thumbnail .title a {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: normal;
      word-break: break-word;
      position: relative;
      max-height: 40px;
      display: box;
      display: -webkit-box;
      display: -moz-box;
      box-orient: vertical;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2; }
  .video-thumbnail .title, .video-thumbnail .time-line {
    text-align: left; }

.video-list {
  max-width: 781px;
  margin-left: auto;
  margin-right: auto; }
  .video-list .no-result {
    text-align: center; }
  .video-list div[class^="col-"] {
    text-align: center; }
    @media (min-width: 992px) {
      .video-list div[class^="col-"] {
        min-width: 135px; } }

.video-wrapper-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .video-wrapper-container .video-wrapper {
    max-width: 640px;
    max-height: 360px;
    display: inline-block; }
    .video-wrapper-container .video-wrapper iframe {
      max-width: 640px;
      max-height: 360px; }

.load-more {
  text-align: center; }
  .load-more .glyphicon-refresh {
    display: none; }
@-webkit-keyframes refresh-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes refresh-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-o-keyframes refresh-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes refresh-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .load-more.loading .glyphicon-refresh {
    vertical-align: text-top;
    margin-right: 8px;
    display: inline-block;
    -webkit-animation: refresh-rotate linear .5s infinite;
    -moz-animation: refresh-rotate linear .5s infinite;
    -o-animation: refresh-rotate linear .5s infinite;
    animation: refresh-rotate linear .5s infinite; }

@-webkit-keyframes up {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-30deg); } }
@-moz-keyframes up {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-30deg); } }
@-o-keyframes up {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-30deg); } }
@keyframes up {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-30deg); } }
@-webkit-keyframes down {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); } }
@-moz-keyframes down {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); } }
@-o-keyframes down {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); } }
@keyframes down {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(30deg); } }
@-webkit-keyframes r-to-l {
  100% {
    margin-left: -1px; } }
@-moz-keyframes r-to-l {
  100% {
    margin-left: -1px; } }
@-o-keyframes r-to-l {
  100% {
    margin-left: -1px; } }
@keyframes r-to-l {
  100% {
    margin-left: -1px; } }
.loader .pacman:before, .loader .pacman:after {
  content: '';
  position: absolute;
  background: #FFC107;
  width: 100px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50px 50px 0 0;
  -webkit-animation: up 0.4s infinite;
  -moz-animation: up 0.4s infinite;
  -o-animation: up 0.4s infinite;
  animation: up 0.4s infinite; }
.loader .pacman:after {
  margin-top: -1px;
  border-radius: 0 0 50px 50px;
  -webkit-animation: down 0.4s infinite;
  -moz-animation: down 0.4s infinite;
  -o-animation: down 0.4s infinite;
  animation: down 0.4s infinite; }
.loader .dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: 30px;
  border-radius: 50%;
  background: #ccc;
  z-index: -1;
  box-shadow: 30px 0 0 #ccc, 60px 0 0 #ccc, 90px 0 0 #ccc, 120px 0 0 #ccc, 150px 0 0 #ccc;
  -webkit-animation: r-to-l 0.4s infinite;
  -moz-animation: r-to-l 0.4s infinite;
  -o-animation: r-to-l 0.4s infinite;
  animation: r-to-l 0.4s infinite; }

.login-form {
  max-width: 320px;
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: solid 1px #d2d2d2; }

.menu {
  background: #232932;
  display: inline-block;
  min-height: 100%;
  padding: 0px; }
  .menu .site-title {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    padding: 10px 0px 10px 40px; }
  .menu ul {
    margin-left: -40px;
    list-style: none;
    margin-bottom: 0px; }
    .menu ul li a {
      padding: 13px 50px;
      display: block;
      cursor: pointer;
      text-decoration: none !important;
      color: #f0f0f0 !important; }
      .menu ul li a:hover {
        background: #13b18a; }

.uploader .preview {
  margin-top: 10px;
  max-width: 200px;
  max-height: 200px;
  overflow: auto;
  position: relative;
  float: left; }
  .uploader .preview .crop-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 60;
    top: 0px;
    left: 0px; }
    .uploader .preview .crop-wrapper .crop-area {
      position: absolute;
      width: 120px;
      height: 90px;
      border: dotted 3px #f95959;
      cursor: move; }
.uploader canvas {
  float: left;
  margin-top: 10px;
  margin-left: 20px; }

.category-management {
  margin-left: 10px; }
  .category-management input[type='text'] {
    margin-top: 10px;
    margin-bottom: 10px; }

.progress-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(90, 90, 90, 0.5);
  text-align: center; }
  .progress-overlay .progress {
    position: absolute;
    top: calc(50% - 10px);
    max-width: 400px;
    min-width: 300px;
    display: inline-block; }

.cms-container {
  padding: 0px;
  background: #edf2f6;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #f0f0f0; }
  .cms-container .row.row-wrapper {
    height: 100%; }
    .cms-container .row.row-wrapper .content-wrapper {
      position: relative;
      height: 100%; }
      .cms-container .row.row-wrapper .content-wrapper .content-area {
        padding-top: 64px;
        padding-right: 35px;
        color: black;
        height: 100%;
        overflow: auto; }
        .cms-container .row.row-wrapper .content-wrapper .content-area form ul {
          list-style: none; }
          .cms-container .row.row-wrapper .content-wrapper .content-area form ul li input[type=radio] {
            margin-right: 5px; }
        .cms-container .row.row-wrapper .content-wrapper .content-area form .new-catetory-wrapper a {
          display: block;
          margin-bottom: 10px; }
        .cms-container .row.row-wrapper .content-wrapper .content-area form .new-catetory-wrapper label.title {
          margin-top: 10px; }
    .cms-container .row.row-wrapper .header {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 11px 0px;
      background-color: #13b18a;
      width: 100%;
      z-index: 100; }
      .cms-container .row.row-wrapper .header .log-out {
        margin-right: 20px;
        font-size: 26px;
        cursor: pointer; }

ul {
  list-style: none; }
  ul:first-child {
    margin-left: -40px; }
  ul:not(:first-child) {
    margin-right: -30px; }

.error {
  border: solid 1px red; }

#searchResult {
  padding-top: 50px; }

.hide {
  display: none; }

.padding-top-100 {
  padding-top: 100px; }

/*# sourceMappingURL=style.css.map */
