$bootstrapPath: "../bower_componnents/bootstrap/dist/";
/**
* import all the bootstrap css
**/
@import url($bootstrapPath + "css/bootstrap-theme.min.css");
@import url($bootstrapPath + "css/bootstrap.min.css");
@import 'variable';
@import 'mixin';
@import 'componnent';
@import 'pages/cms';

ul {
	list-style: none;
	&:first-child{
		margin-left: -40px;
	}

	&:not(:first-child){
		margin-right: -30px;
	}
}

.error {
	border: solid 1px red;
}

#searchResult {
	padding-top: 50px;
}

.hide{
	display: none;
}

.padding-top-100{
	padding-top: $bodyPaddingTop;
}

